<div>
  <!-- Form -->

  <form class="form-example">
    <h2>Update aadhar page</h2>

    <div class="form-group">
      <label for="address" class="text-light">City:</label>
      <input
        type="text"
        class="form-control address"
        id="address"
        placeholder="City"
        name="address"
        style="width: 20vw"
      />
    </div>
    <div class="form-group">
      <label for="phone_num" class="text-light">MobileNumber:</label>
      <input
        type="text"
        class="form-control"
        id="phone_num"
        placeholder="MobileNumber"
        name="phone_num"
        style="width: 20vw"
      />
    </div>
    <div class="form-group">
      <label for="dob" class="text-light">Date of Birth:</label>
      <input
        type="text"
        class="form-control"
        id="dob"
        placeholder="Date of Birth"
        name="dob"
        style="width: 20vw"
      />
    </div>
    <div>
      <button type="submit" class="btn btn-primary btn-customized">
        Update
      </button>
    </div>
    <!-- End input fields -->
  </form>
  <!-- Form end -->
</div>
