<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
      <!-- <img
        routerLink="/products"
        class="logo"
        src="./assets/images/logo3.png"
        alt=""
      /> -->
      <!-- <strong class="header-title">NMS Cinemas</strong> -->
      <h2 class="logo">NMS Movies</h2>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul
        class="navbar-nav ml-auto"
        style="font-family: 'Montserrat', sans-serif"
      >
        <li class="nav-item">
          <button class="btn bthHead active">
            <!-- <i class="fas fa-tasks fa-lg"></i> -->
            Manage Movies
          </button>
        </li>
        <li class="nav-item">
          <button class="btn bthHead" routerLink="/manageCustomer">
            <!-- <i class="fas fa-users fa-lg"></i> -->
            Manage Users
          </button>
        </li>
        <li class="nav-item">
          <button class="btn bthHead" routerLink="/managePurchase">
            <!-- <i class="fas fa-shopping-basket fa-lg"></i> -->
            Manage Purchases
          </button>
        </li>
        <li class="nav-item">
          <button class="btn bthHead float-right" (click)="adminLogout()">
            <i
              class="fas fa-sign-out-alt"
              style="font-size: 30px; color: red"
            ></i>
          </button>
        </li>
        <li class="nav-item">
          <!-- <svg
            xmlns="http://www.w3.org/3000/svg"
            width="20"
            height="20"
            fill="currentColor"
            class="bi bi-menu-up"
            viewBox="0 0 20 16"
          >
            <path
              d="M7.646 15.854a.5.5 0 0 0 .708 0L10.207 14H14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h3.793l1.853 1.854zM1 9V6h14v3H1zm14 1v2a1 1 0 0 1-1 1h-3.793a1 1 0 0 0-.707.293l-1.5 1.5-1.5-1.5A1 1 0 0 0 5.793 13H2a1 1 0 0 1-1-1v-2h14zm0-5H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v2zM2 11.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 0-1h-8a.5.5 0 0 0-.5.5zm0-4a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11a.5.5 0 0 0-.5.5zm0-4a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 0-1h-6a.5.5 0 0 0-.5.5z"
            />
          </svg> -->
        </li>
      </ul>
    </div>
  </nav>
  <hr />
</div>
<div>
  <div class="container admind">
    <span class="text-center prodLogo">Movies List</span>
    <button
      type="button"
      (click)="clickAddProduct()"
      data-toggle="modal"
      data-target="#exampleModal"
      class="btn btn-primary float-right AddProd"
    >
      Add movies
    </button>
  </div>
  <table
    class="table table-striped admind"
    matSort
    (matSortChange)="sortData($event)"
  >
    <thead>
      <tr>
        <th style="width: 17%" mat-sort-header="name">
          movie Name <i class="fas fa-sort"></i>
        </th>
        <th style="width: 20%">Description</th>
        <th mat-sort-header="customername">Duration</th>

        <th mat-sort-header="mobilenum">category</th>
        <th mat-sort-header="actualPrice">Price <i class="fas fa-sort"></i></th>
        <th mat-sort-header="discount">Discount <i class="fas fa-sort"></i></th>
        <th mat-sort-header="price">Final price <i class="fas fa-sort"></i></th>
        <th mat-sort-header="avail">Availabilty <i class="fas fa-sort"></i></th>
        <th style="width: 18%">ImagePath</th>
        <th style="width: 15%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of sortedProd">
        <td>{{ product.name }}</td>
        <td>{{ product.desc }}</td>
        <td>{{ product.customername }}</td>

        <td class="makecenter">{{ product.category }}</td>
        <td class="makeCenter">₹{{ product.actualPrice }}</td>
        <td class="makeCenter">{{ product.discount }}%</td>
        <td class="makeCenter">₹{{ product.price }}</td>
        <td class="makeCenter">
          <i *ngIf="product.avail == 'no'" class="fas fa-times"></i>
          <i *ngIf="product.avail == 'yes'" class="fas fa-check"></i>
        </td>
        <td>{{ product.imagepath }}</td>
        <td>
          <button
            (click)="onEdit(product)"
            type="button"
            data-toggle="modal"
            data-target="#exampleModal"
            class="btn btn-sm btn-primary"
          >
            <i class="fa fa-pencil"></i>
          </button>
          <button
            (click)="deleteProduct(product)"
            class="btn btn-sm btn-danger"
            style="margin-left: 3px"
          >
            <i class="fa fa-times"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!--Add Employee Modal -->

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title float-left" id="exampleModalLabel"
          >Movies Details</span
        >
        <button
          type="button"
          class="close float-right"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <p *ngIf="message != ''">{{ message }}</p>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="form-group">
            <label for="name" class="col-form-label"> Movie Name</label>
            <input
              type="text"
              formControlName="name"
              class="form-control"
              id="name"
              required
            />
          </div>
          <div class="form-group">
            <label for="desc" class="col-form-label">Description</label>
            <input
              type="text"
              formControlName="desc"
              class="form-control"
              id="desc"
              required
            />
          </div>
          <div class="form-group">
            <label for="customername" class="col-form-label">Duration</label>
            <input
              type="text"
              formControlName="customername"
              class="form-control"
              id="customername"
              required
            />
          </div>
          <div class="form-group">
            <label for="categery" class="col-form-label">Category</label>
            <select
              type="text"
              name="category"
              formControlName="category"
              class="form-control"
              id="category"
              required
            >
              <option value="Chinese">Drama</option>
              <option value="Indian">Comedy</option>
              <option value="Mexican">Thriller</option>
              <option value="Italian">Historical</option>
            </select>
          </div>
          <div class="form-group">
            <label for="actualPrice" class="col-form-label">Price</label>
            <input
              type="text"
              formControlName="actualPrice"
              class="form-control"
              id="actualPrice"
              required
            />
          </div>
          <div class="form-group">
            <label for="discount" class="col-form-label">Discount</label>
            <input
              type="text"
              formControlName="discount"
              class="form-control"
              id="discount"
              required
            />
          </div>
          <div class="form-group">
            <label for="avail" class="form-check-label">Availabilty</label>
            <div class="form-check">
              <input
                type="radio"
                value="yes"
                formControlName="avail"
                name="avail"
                class="form-check-input"
                id="yes"
              />
              <label class="form-check-label" for="avail"> Enable </label>
              <input
                style="margin-left: 30px"
                type="radio"
                value="no"
                formControlName="avail"
                name="avail"
                class="form-check-input"
                id="no"
              />
              <label
                style="margin-left: 48px"
                class="form-check-label"
                for="avail"
              >
                Disable
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="imagepath" class="col-form-label">Image Link</label>
            <input
              type="text"
              formControlName="imagepath"
              class="form-control"
              id="imagepath"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <p *ngIf="message != ''" class="text-left">{{ message }}</p>
        <button
          type="button"
          id="cancel"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          *ngIf="showAdd"
          (click)="addProduct()"
          class="btn btn-primary"
        >
          Add
        </button>
        <button
          type="button"
          *ngIf="showUpdate"
          (click)="updateProduct()"
          class="btn btn-primary"
        >
          Update
        </button>
      </div>
    </div>
  </div>
</div>
