<!-- <div class="container">
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs justify-content-end">
        <li
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li role="presentation" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="adminpage">Dashboard</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #e3f2fd"
>
  <a class="navbar-brand" href="#">Celebrations</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav" style="margin-left: 70vw">
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li role="presentation" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="adminpage">Dashboard</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
