<div>
  <!-- Form -->

  <form class="form-example" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <h1>Registration</h1>

    <div class="form-group">
      <label for="phone_num" class="text-light">MobileNumber:</label>
      <input
        type="text"
        class="form-control phone_num"
        id="phone_num"
        placeholder="Mobile Number"
        name="phone_num"
        style="width: 20vw"
      />
    </div>
    <div class="form-group">
      <label for="password" class="text-light">Password:</label>
      <input
        type="password"
        class="form-control password"
        id="password"
        placeholder="Password"
        name="password"
        style="width: 20vw"
      />
    </div>
    <div>
      <button type="submit" class="btn btn-primary btn-customized">
        Register
      </button>
    </div>
    <!-- End input fields -->
  </form>
  <!-- Form end -->
</div>
