.logo{
    position:relative;
    top: 2vh;
    height: 8vh;
    width: 105px;
    cursor: pointer;
    font-size: 2.5rem;
    font-family: 'Bungee Spice', cursive;
}
.header-title{
    position: relative;
    top: 40px;
    left:25px;
    font-family: "Papyrus", Fantasy;
    font-style: italic;
    font-size: 64px;
    color: black;
}
.btnMain{
    font-size: 20px;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}
.btnMain:hover{
    color: #bf1e2e;
}
.modal-footer button{
    background-color: #bf1e2e;
    color:white
}
th{
    color:#bf1e2e;
}

.modal_css{
    font-family: 'Montserrat', sans-serif;
}